* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #5d5f79;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4.6rem 0;
}

/**********************/
/* HEADER */
/**********************/

.logo {
  height: 3.2rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4.6rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  font-weight: 500;
  color: #00001a;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #f15e50;
}

.mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.mobile-nav-icon {
  font-size: 3.2rem;
}

.close {
  display: none;
}

/**********************/
/* HERO SECTION */
/**********************/
.section-hero {
  padding: 2.4rem 0 6.4rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 2.4rem;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.hero-text {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2.4rem;
}

.primary-heading {
  font-size: 6.2rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.5px;
  color: #00001a;
}

.description-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

.hero-description {
  line-height: 1.6;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fffdfa;
  background-color: #f15e50;
  align-self: start;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #00001a;
}

aside {
  background-color: #00001a;
  color: #fffdfa;
  padding: 3.2rem 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  color: #e9ab53;
  margin-bottom: 3.2rem;
}

.aside-link {
  font-size: 2rem;
  color: #fffdfa;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

.aside-link:hover {
  color: #e9ab53;
}

aside p {
  color: #5d5f79;
}

.latest + .latest {
  border-top: 1px solid #5d5f79;
  padding-top: 3.2rem;
  margin-top: 3.2rem;
}

/**********************/
/* FEATURED SECTION */
/**********************/
.section-featured {
  padding: 6.4rem 0;
}
.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  align-items: center;
  justify-content: space-between;
}

.step-box {
  display: flex;
  gap: 2.4rem;
}

.step-box-img {
  max-width: 10rem;
}

.step-box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-number {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.step-link {
  font-size: 2rem;
  font-weight: 700;
  color: #00001a;
  transition: all 0.3s;
  margin-bottom: 0.8rem;
}

.step-link:hover {
  color: #f15e50;
}

/**********************/
/* MEDIA QUERIES */
/**********************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 67em) {
  .hero-container {
    grid-template-columns: 1fr;
    gap: 4.6rem;
  }

  .featured {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.5rem;
  }

  .step-box:last-child {
    grid-column: 1 / -1;
    margin: 0 auto;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero-text {
    flex-wrap: wrap;
    max-width: 45rem;
    gap: 3.2rem;
  }

  .primary-heading {
    font-size: 5.2rem;
  }

  .hero-description {
    margin-bottom: 2.4rem;
  }

  .featured {
    grid-template-columns: 1fr;
  }
  .step-box:last-child {
    margin: 0;
  }

  .step-box-img {
    max-width: 8.5rem;
  }

  .mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fffdfa;
    width: 68%;
    height: 100vh;
    transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.3s;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-top: 14rem;
    margin-left: 3.2rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .open {
    display: none;
  }

  .nav-open .close {
    display: block;
  }
}
